@import '~bootstrap/scss/bootstrap'; // never forget the semicolon at the end

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// @import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  // font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 80px;
  font-weight: 100;
  text-transform: uppercase;
  margin: auto;
  text-align: center;
}
h1.header-title {
  font-weight: 400;
}

.btn-login {
}
.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 6.5rem;
    }
  }
}


footer.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  .social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: $primary;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: darken($primary, 10%);
      text-decoration: none;
    }
  }
} 

.photo-description {
  @extend .m-1;
  text-align: left;
}

.upcase {
  text-transform: uppercase;
}

h4.photo-title {
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 100;
}

.photo-theme-link { 
  @extend .m-2;
  @extend .p-2;
  @extend .btn;
  @extend .btn-info;
  text-align: center;
  width: 100%;
  height: 250px;
}
