<div>
  <div style="font-size: 32px">
    <div><%= theme.title %></div>
    <div class="my-1" style="font-size: 48px">
      <%= theme_icon(theme) %>
    </div>
  </div>
  <div><%= theme.subtitle %></div>
  <div class="text-italic"><small><%= theme.description %></small></div>
</div>
