<%= main_title(@theme) %>  
<h2><%= @theme.subtitle %></h2>

<div>
  <%= @theme.description %>  
</div>

<% if @theme.school %>  
  <div class="text-right mt-3">
    <em>Possono partecipare le scuole.</em>
  </div>
<% end %>
