<div class="row">
  <% Theme.for_video.find_each do |theme| %>   
    <% current_user_theme_videos = 0 %>
    <% if current_user and current_user.participant? %>
      <% current_user_theme_videos = current_user.videos.where(theme_id: theme.id).count %>
    <% end %>

    <div class="col-md-6">
      <%= link_to new_theme_video_path(theme), class: 'photo-theme-link photo-theme-link-enabled' do %>  
        <%= render theme %>  
      <% end %>
    </div>
  <% end %>
</div>


