@import '~bootstrap/scss/bootstrap'; // never forget the semicolon at the end

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// @import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700&display=swap");

$yellow-color: #ff9e2c;
$green-color: #9cba7e;

html {
  scroll-behavior: smooth;
}
body {
  // font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
}
h1 {
  letter-spacing: -1px;
  font-weight: 100;
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  font-size: 28px;
  @include media-breakpoint-up(md) { font-size: 36px };
}

.btn-login {
}

footer.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  .social-link {
    display: block;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: $primary;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: darken($primary, 10%);
      text-decoration: none;
    }
  }
} 

.photo-description {
  @extend .m-1;
  text-align: left;
}

.upcase {
  text-transform: uppercase;
}

h4.photo-title {
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: 100;
}

.new-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  @extend .p-4;
  width: 90%;
  @include media-breakpoint-up(md) { width: 40% };
}

.modal-content {
  background-color: $light;
  .modal-header {
    @extend .bg-warning;
  }
}

.theme-show {
  .theme-show-title {
    font-size: 28px;
  }
  .theme-show-subtitle {
    font-size: 22px;
  }
}
.photo-theme-link { 
  @extend .my-2;
  @extend .p-2;
  @extend .btn;
  text-align: center;
  width: 100%;
  height: 280px;
}
.photo-theme-link-enabled { 
  @extend .btn-info;
}
.photo-theme-link-disabled { 
  @extend .btn-secondary;
  @extend .active;
}

@import 'home';
