<!-- About -->
<section class="content-section bg-light" id="about">
  <div class="text-center">
    <div class="contest-description-container">
      <div class="col-md-6 contest-description-item matimmagini-bg-colored">
        <h2>#matimmagini</h2>
        <span style="font-size: 400%; text-color: "><i class="fas fa-camera"></i></span>
        <h3>il photocontest</h3>
        <div>
          <h4>le categorie</h4>
          <% cache 'photo_themes_list_cache' do %>
            <%= photo_themes_list %>  
          <% end %>
        </div>
        <div>
          <h4>il regolamento</h4>
          <p>#matimmagini &egrave; aperto a tutti!</p>
          <p>I singoli partecipanti (maggiorenni) possono inviare fino a due foto per categoria.</p>
          <p>Possono partecipare anche classi di scuola secondaria (rappresentate da un insegnante) nelle categorie 2, 3 e 4.</p>
          <%= link_to "scarica il bando", '/bando_matimmagini.pdf', class:"mt-2 btn btn-info" %>
        </div>
      </div>
      <div class="contest-description-item mattalks-bg-colored">
        <h2>MATtalks</h2>
        <span style="font-size: 400%"><i class="fas fa-video"></i></span>
        <h3>il videocontest</h3>
        <div>
          <h4>le categorie</h4>
          <% cache 'video_themes_list_cache' do %>
            <%= video_themes_list %>  
          <% end %>
        </div>
        <div>
          <%= link_to "scarica il bando", '/bando_mattalks.pdf', class:"mt-2 btn btn-info" %>
        </div>
      </div>
      <div class="raccontiamate">
        <h2>RACCONTIAMATE</h2>
        <h3>Pi-day al Dipartimento di Matematica</h3>
        <h4>14 marzo 2020</h4>
      </div>
    </div>
  </div>
</section>

