<!-- About -->
<section class="content-section bg-light" id="about">
  <div class="text-center">
    <div class="row">
      <div class="col-md-6" style="background-color: #333; border: 1px solid #000; padding: 50px; color: #eee">
        <!-- <div class="col-md-6" style="background-color: #ff9e2c; border: 1px solid #000; padding: 50px; color: #000"> -->
        <h2>#matimmagini</h2>
        <span style="font-size: 400%"><i class="fas fa-camera"></i></span>
        <h3>il photocontest</h3>
        <div>
          <h4>le categorie</h4>
          <dl>
            <dt>1. #insideoutdm</dt>
            <dd>dentro e fuori l'edificio</dd>
            <dt>2. #mathisallaround</dt>
            <dd>la matematica c'&egrave; e si vede</dd>
            <dt>3. #everybodylovespi</dt>
            <dd>&pi; aka Pi greco</dd>
            <dt>4. #cgiandmath</dt>
            <dd>matematica &amp; grafica digitale</dd>
          </dl>
        </div>
        <div>
          <h4>il regolamento</h4>
          <p>#matimmagini &egrave; aperto a tutti!</p>
          <p>I singoli partecipanti (maggiorenni) possono inviare fino a due foto per categoria.</p>
          <p>Possono partecipare anche classi di scuola secondaria (rappresentate da un insegnante) nelle categorie 2, 3 e 4.</p>

          scarica il bando - accedi (?)
        </div>
        </div>
        <div class="col-md-6" style="background-color: #888; border: 1px solid #000; padding: 50px; color: #eee">
          <!-- <div class="col-md-6" style="background-color: #9cba7e; border: 1px solid #000; padding: 50px; color: #000"> -->
          <h2>MATtalks</h2>
          <span style="font-size: 400%"><i class="fas fa-video"></i></span>
          <h3>il videocontest</h3>
          <dl>
            <dt>#tre</dt>
            <dd>
            per una tesi di laurea triennale in matematica<br/>
            conseguita a Bologna o<br/>
            conseguita da uno studente della magistrale di Bologna
            </dd>
            <dt>#trepi&ugrave;due</dt>
            <dd>
            per una tesi di laurea magistrale in matematica<br/>
            conseguita a Bologna
            </dd>
          </dl>
          </div>
          <% unless current_user %>  
            <div class="col-12 p-5" style="background-color: #fff; border: 1px solid #000; color: #000">
              <h4 class="my-3">Per partecipare</h4>
              <% if Status.active? %>  
                <%= link_to 'ACCEDI', new_user_session_path, class: "btn btn-primary btn-lg my-2 mx-2 p-3", style: "width: 250px" %>
                <%= link_to 'REGISTRATI', new_user_registration_path, class: "btn btn-primary btn-lg my-2 mx-2 p-3", style: "width: 250px" %>
              <% else %>
                <p>La procedura di registrazione e invio di foto sarà aperta il giorno <br/><strong>1 Dicembre 2019</strong></p>
              <% end %>
            </div>
          <% end %>
          <div class="container p-5">
            <h2>RACCONTIAMATE</h2>
            <h3>Pi-day al Dipartimento di Matematica</h3>
            <h4>14 marzo 2020</h4>
          </div>
        </div>
      </div>
</section>

