<!-- About -->
<section class="content-section bg-light" id="about">
  <div class="text-center">
    <div class="contest-description-container">
      <div class="col-md-6 contest-description-item matimmagini-bg-colored">
        <h2>#matimmagini</h2>
        <span style="font-size: 400%; text-color: "><i class="fas fa-camera"></i></span>
        <h3>il photocontest</h3>
        <div>
          <h4>le categorie</h4>
          <% cache 'photo_themes_list_cache' do %>
            <%= photo_themes_list %>  
          <% end %>
        </div>
        <div>
          <h4>il regolamento</h4>
          <p>#matimmagini &egrave; aperto a tutti!</p>
          <p>I singoli partecipanti (maggiorenni) possono inviare fino a due foto per categoria.</p>
          <p>Possono partecipare anche <strong>classi di scuola secondaria</strong> (rappresentate da un insegnante) nelle categorie 2, 3 e 4.</p>
          <%= link_to "scarica il bando", '/bando_matimmagini.pdf', class:"mt-2 btn btn-info" %>
        </div>
      </div>
      <div class="contest-description-item mattalks-bg-colored">
        <h2>MATtalks</h2>
        <span style="font-size: 400%"><i class="fas fa-video"></i></span>
        <h3>il videocontest</h3>
        <div>
          <h4>le categorie</h4>
          <% cache 'video_themes_list_cache' do %>
            <%= video_themes_list %>  
          <% end %>
        </div>
        <div>
          <%= link_to "scarica il bando", '/bando_mattalks.pdf', class:"mt-2 btn btn-info" %>
        </div>
      </div>
      <div id="awards">
        <h2>I PREMI IN PALIO</h2>
        <p>i singoli partecipanti vincitori riceveranno una action cam con accessori</p>
        <p>per le classi in palio stampanti 3d e attività laboratoriali offerta da <a href="http://cooperativaossigeno.it">Cooperativa  Ossigeno</a></p>
      </div>
      <div class="raccontiamate">
        <h2>RACCONTIAMATE</h2>
        <h3>Pi-day al Dipartimento di Matematica</h3>
        <h4>14 marzo 2020</h4>
        <p>Programma:</p>
        <div class="program">
          <div class="hour">ore 09:00</div>
          <div class="event">apertura mostra foto-video "Pi Contest"</div>
          <div class="hour">ore 09:30</div>
          <div class="event">conferenza <i>"Le ragioni di 3/14 e quelle di 3/15"</i> Prof. Nicola Arcozzi</div>
          <div class="hour">ore 10:00</div>
          <div class="event">apertura delle mostre <br/>
            <i>
            "Dai triangoli alle superfici: classificare in matematica",<br/>
            "Tessere di MacMahon su poliedri e altre amenità da manipolare",</br/>
            "Macchine matematiche: dalla storia alla pratica d'aula",<br/>
            "La biblioteca in mostra: libri antichi in visione" (*)
            </i>
          </div>
          <div class="hour">ore 11:30</div>
          <div class="event">collegamento in videoconferenza con Scienze della Formazione e proiezione della conferenza del Prof. Bruno D'Amore (*)</div>
          <div class="hour">ore 12:30</div>
          <div class="event"> premiazione contest</div>
          <div class="hour">ore 14:00</div>
          <div class="event"> chiusura mostre</div>
          <div class="hour"></div>
          <div class="event">(*) da confermare</div>
        </div>
      </div>
    </div>
  </div>
</section>

