<!-- About -->
<section class="content-section bg-light" id="about">
  <div class="text-center">
    <div class="row">
      <div class="col-md-6" style="background-color: #333; border: 1px solid #000; padding: 50px; color: #eee">
        <h2>#matimmagini</h2>
        <span style="font-size: 400%"><i class="fas fa-camera"></i></span>
        <h3>il photocontest</h3>
      </div>
      <div class="col-md-6" style="background-color: #888; border: 1px solid #000; padding: 50px; color: #eee">
        <h2>MATtalks</h2>
        <span style="font-size: 400%"><i class="fas fa-video"></i></span>
        <h3>il videocontest</h3>
      </div>
      <div class="col-12 p-5" style="background-color: #fff; border: 1px solid #000; color: #000">
        <h4 class="my-3">Per partecipare</h4>
        <%= link_to 'ACCEDI', new_user_session_path, class: "btn btn-primary btn-lg my-2 mx-2 p-3", style: "width: 250px" %>
        <%= link_to 'REGISTRATI', new_user_registration_path, class: "btn btn-primary btn-lg my-2 mx-2 p-3", style: "width: 250px" %>
      </div>
      <div class="container p-5">
        <h2>RACCONTIAMATE</h2>
        <h3>Pi-day al Dipartimento di Matematica</h3>
        <h4>evento del 14 marzo 2020</h4>
      </div>
    </div>
  </div>
</section>

