<!-- Header -->
<header class="masthead d-flex" style="background: url('<%= asset_pack_path 'media/images/home.jpg' %>');
                                       background-position: center;
                                       background-repeat: no-repeat;
                                       background-size: cover;"> 
<div class="home-header">
  <h1>π Contest</h1>
  <h3>
    <em>Dipartimento di Matematica <br/>
    <small>Alma Mater Studiorum Università di Bologna</small></em>
  </h3>
  <a class="btn btn-primary btn-xl my-5" href="#about">Mostra i contest</a>
  <h4>Dal 1&deg; dicembre 2019 al 16 febbraio 2020</h4>
</div>
</header>


