<!-- Header -->
<header class="title-header d-flex" style="background-image: url('<%= asset_pack_path 'media/images/home.jpg' %>')">
  <div class="title-header-content">
    <h1>π Contest</h1>
    <div class="my-3 subheader">
      <div class="header-description">
        dal 2 dicembre 2019 al 16 febbraio 2020: <br/>
        il concorso foto #matimmagini e il concorso video MATtalks <br/><br/>
        il 14 marzo 2020: <br/>
        il pi-day Raccontiamate <br/><br/>
        organizzati dal <br/>
        DIPARTIMENTO DI MATEMATICA <br/>
       <small>Alma Mater Studiorum Università di Bologna</small>
      </div>
    </div>
    <div class="go-buttons">
      <a class="btn btn-primary btn-xl my-3" href="#about" style="width: 40%; max-width: 250px">Vai ai contest</a>
      <a class="btn btn-primary btn-xl my-3" href="#awards" style="width: 40%; max-width: 250px">Vedi i premi in palio</a>
    </div>
    <% unless current_user %>  
      <div class="col-12" >
        <h4 class="my-3">Per partecipare</h4>
        <% if Status.active? %>  
          <%= link_to 'ACCEDI', new_user_session_path, class: "btn btn-warning btn-lg my-2 mx-2 p-3", style: "width: 250px" %>
          <%= link_to 'REGISTRATI', new_user_registration_path, class: "btn btn-warning btn-lg my-2 mx-2 p-3", style: "width: 250px" %>
        <% else %>
          <p>La procedura di registrazione e invio di foto sarà aperta il giorno <br/><strong>2 Dicembre 2019</strong></p>
        <% end %>
      </div>
    <% end %>
  </div>
</header>


