<!-- Header -->
<header class="masthead d-flex" style="background: url('<%= image_path('home.jpg') %>');
                                       background-position: center;
                                       background-repeat: no-repeat;
                                       background-size: cover;"> 
<div class="container text-center my-auto" style="color: #cccc00">
  <h1 class="mb-1">π Photo Contest</h1>
  <h3 class="mb-5">
    <em>Dipartimento di Matematica <br/><small>Università di Bologna</small></em>
  </h3>
  <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
</div>
<div class="overlay"></div>
</header>


