<div class="container">
  <div class="sponsors-list">
    <div class="sponsors-title">Organizzato da:</div>
    <div class="sponsors-logo">
      <% SPONSOR_ORGANIZERS.each do |n, v| %>  
        <%= link_to image_pack_tag("sponsor/#{v[:img]}", alt: n), v[:url], target: :new, class: 'sponsor-logo' %>
      <% end %>
    </div>
  </div>
  <div class="sponsors-list">
    <div class="sponsors-title">Con il contributo di:</div>
    <div class="sponsors-logo">
      <% SPONSOR_SUPPORTERS.each do |n, v| %>  
        <%= link_to image_pack_tag("sponsor/#{v[:img]}", alt: n), v[:url], target: :new, class: 'sponsor-logo' %>
      <% end %>
    </div>
  </div>
</div>
