<div class="container">
  <h1>Informative sul trattamento dei dati personali</h1>

  <p>La presente informativa è resa, ai sensi degli artt. 12, 13, 14 del Regolamento (UE) 2016/679 relativo alla protezione delle persone fisiche con riguardo al trattamento dei dati personali, nonché alla libera circolazione di tali dati (RGPD), a coloro che interagiscono con questo applicativo.</p>

  <p>Il Titolare del trattamento dei dati personali oggetto della presente informativa è l’Alma Mater Studiorum - Università di Bologna, con sede in via Zamboni, 33 – 40126 Bologna.</p>

  <p>Il Responsabile del trattamento dei dati personali è il Direttore del Dipartimento di Matematica <%= PRIVACY_MANAGER %>.</p>

  <p>Gli incaricati al trattamento dei dati personali per il riscontro all’interessato possono essere contattati all'indirizzo <%= mail_to_contact %>.</p>
</div>

