<div class="container">
  <h1>Informative sul trattamento dei dati personali</h1>

  <p>La presente informativa è resa, ai sensi degli artt. 12, 13, 14 del Regolamento (UE) 2016/679 relativo alla protezione delle persone fisiche con riguardo al trattamento dei dati personali, nonché alla libera circolazione di tali dati (RGPD), a coloro che interagiscono con questo applicativo.</p>

  <p>Il Titolare del trattamento dei dati personali oggetto della presente informativa è l’Alma Mater Studiorum - Università di Bologna, con sede in via Zamboni, 33 – 40126 Bologna, nella persona del Magnifico Rettore quale Rappresentante legale.</p>

  <p>Il Responsabile del trattamento dei dati personali è il Direttore del Dipartimento di Matematica <%= PRIVACY_MANAGER %>.</p>

  <p>Gli incaricati al trattamento dei dati personali per il riscontro all’interessato possono essere contattati all'indirizzo <%= mail_to_contact %>.</p>

  <p><strong>Finalità generali del trattamento</strong></p>
  <p>I dati personali verranno trattati, in base ai limiti della normativa vigente, per gestire la partecipazione 
     degli Interessati all'iniziativa PI CONTEST.</p>

  <p><strong>Diritti dell’interessato</strong></p>
  <p>Nella loro qualità di Interessati, i partecipanti al Contest godono dei diritti di cui alla sezione 2, 3 e 4 del capo III del Regolamento (UE) 2016/679 (es. chiedere al titolare del trattamento: l'accesso ai dati personali e la rettifica o la cancellazione degli stessi; la limitazione del trattamento che lo riguardano; di opporsi al loro trattamento, oltre al diritto alla portabilità dei dati).<br/>
    Ogni Interessato ha altresì il diritto di:<br/>
    - Revocare il consenso in qualsiasi momento senza tuttavia pregiudicare la liceità del trattamento basata sul consenso prestato prima della revoca. In tal caso, non saranno raccolti ulteriori dati che lo riguardano, ferma restando l'utilizzazione di quelli eventualmente già raccolti per determinare, senza alterarli, i risultati della ricerca o di quelli che, in origine o a seguito di trattamento, non siano riconducibili a una persona identificata o identificabile.<br/>
    - Proporre reclamo a un'autorità di controllo.
  </p>
  <p>In merito all’esercizio di tali diritti, l’Interessato può rivolgersi ai responsabili interni di cui sopra.</p>

  <%= link_to 'Torna alla home page', root_path, class: "mx-auto btn btn-primary" %>
</div>
