<div class="container">
  <% if @theme %>  
    <%= render partial: 'form' %>  
  <% else %>  
    <h1 class="text-center">Scegli la categoria in cui vuoi presentare la foto</h1>
    <%= render partial: 'select_theme' %>  
  <% end %>
</div>
