<p>Buongiono</p>

<p>È stato richiesto di cambiare la tua password relativa al concorso fotografico
pi-contest del Dipartimento di Matematica di Bologna.</p>

<p>Puoi procedere attraverso il link seguente.</p>

<p><%= link_to 'Cambia la mia password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non hai fatto tu questa richiesta puoi ignorare questa mail.</p>

<p>Cordiali saluti</p>

