<!-- Footer -->
<footer class="footer text-center my-5" style="background-color: rgb(50, 50, 60);">
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="#">
          <i class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">Copyright &copy; Dpartimento di Matematica - Università di Bologna 2019</p>
  </div>
</footer>

