<!-- Footer -->
<footer class="footer text-center my-5" style="background-color: rgb(50, 50, 60);">
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/matematica.unibo">
          <i class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
    <p class="text-muted small mb-0">
    Copyright &copy; Dipartimento di Matematica - Università di Bologna 2019.<br/>
    Per problemi di carattere tecnico contattare <a href="dipmat-supportoweb@unibo.it">dipmat-supportoweb@unibo.it</a>
      <% if current_user && current_user.manager? %>   
        <br/><%= link_to 'impersonate', who_impersonate_path %>  
      <% end %>
    </p>
  </div>
</footer>

