<nav class="navbar navbar-light bg-white">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%# <%= image_tag '#' %1> %> 
  <% end %>
  <ul class="nav">
    <li class="nav-item">Ciao</li>
  </ul>

  <% if current_user %>  
    <div class="dropdown">
      <div type="button" class="menu-button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars fa-fw"></i>
        <%= current_user %>  
      </div>
    </div>
  <% else %>
    <ul class="nav">
      <li class="nav-item"><%= link_to icon("fas fa-sign-in-alt fa-fw", 'accedi'), new_user_session_path, class: "btn-login" %>  </li>
    </ul>
  <% end %>
</nav>

