<nav class="navbar navbar-light bg-white">
  <%= link_to root_path, class: "navbar-brand text-info" do %>
    <%= icon('fas fa-camera-retro', size: 64) %> &nbsp; pi-contest
  <% end %>
  <% if current_user %>  
    <ul class="nav">
      <li class="nav-item"><%= link_to current_user, edit_user_info_path %></li>
    </ul>
  <% else %>
    <ul class="nav">
      <li class="nav-item"><%= link_to icon("fas fa-sign-in-alt fa-fw", 'accedi'), new_user_session_path, class: "btn-login" %>  </li>
    </ul>
  <% end %>
</nav>

